{template 'common/header'}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            视频信息
        </h3>
    </div>
    <div class="panel-body">

        <form class="layui-form" action="" onsubmit="return false">

            <input type="hidden" name="table_name" value="{$table_name}">
            <input type="hidden" name="modular_id" value="{$modular_id}">

            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" value="{$info['title']}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">封面图</label>
                <div class="layui-input-block">
                    {php echo tpl_form_field_image('cover', $info['cover']);}
                    <div class="alert alert-success" role="alert">图片建议尺寸: 230 * 160</div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">视频</label>
                <div class="layui-input-block">
                    {php echo tpl_form_field_video('video', $info['video']);}
                    <div class="alert alert-success" role="alert">图片建议尺寸: 230 * 160</div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序值(值越大, 排序越靠前)</label>
                <div class="layui-input-block">
                    <input type="number" min="0" name="top" required  lay-verify="required" placeholder="请输入排序值" autocomplete="off" class="layui-input" value="{$info['top']}">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formSub">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button  class="layui-btn layui-btn-primary" onclick="javascript: history.back()">返回</button>
                </div>
            </div>

        </form>
    </div>
</div>

{template 'common/footer'}
<link rel="stylesheet" href="../../../addons/longbing_card/images/layui/css/layui.css">
<link rel="stylesheet" href="../../../addons/longbing_card/images/css/main.css">

<script src="../../../addons/longbing_card/images/layui/layui.js"></script>
<script src="../../../addons/longbing_card/images/js/main.js"></script>
<script>
    $(function () {
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer
                , form = layui.form

            form.on('submit(formSub)', function(data){
                var formData = data.field;
                layer.load();

                if (formData.cover == '') {
                    layer.msg('请选择封面图');
                    return false;
                }
                if (formData.video == '') {
                    layer.msg('请选择视频');
                    return false;
                }

                var url = "{php echo $this->createWebUrl('editVideo')}" + "&action=editSub";

                var id = '{$id}';
                var data = {
                    action: 'editSub',
                    formData: formData
                };
                if (id > 0) {
                    data.id = id;
                }

                postDataGoBack(url, data);

                return false;
            });
        });
    })
</script>